* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  min-height: 600px;
  background-color: rgb(241, 241, 241);
  margin: 20px auto;
  box-shadow: 0px 0px 10px 0px black;
}

.header {
  text-align: center;
  padding: 20px;
}

.balance {
  padding: 0px 20px 10px;
}

.balance span {
  font-size: 40px;
}

.incomeexpense {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(223, 219, 219);
  max-width: 400px;
  margin: 0px auto;
  border-radius: 20px;
}

.income {
  color: rgb(16, 192, 16);
}

.income span {
  font-size: 30px;
}

.expense {
  color: rgb(224, 32, 32);
}

.expense span {
  font-size: 30px;
}

.list {
  margin-top: 30px;
  padding: 0px 20px;
}

.list hr {
  width: 95%;
}

.listitem {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 4px;
  background-color: whitesmoke;
}

.myform {
  margin-top: 10px;
}

.for-input input {
  width: 100%;
  padding: 10px;
  margin-top: 3px;
  border: none;
  border-bottom: 3px solid grey;
  border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

button {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border: none;
  background-color: rgb(88, 180, 241);
  cursor: pointer;
}

.border-red {
  border-right: 3px solid red;
}

.border-green {
  border-right: 3px solid green;
}