* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.main-window {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  min-height: 600px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px black;
}

.header {
  text-align: center;
  padding: 20px;
}

.bottom-border {
  border-bottom: 5px solid rgb(88, 180, 241)
}

.balance {
  padding: 0px 20px 10px;
}

.balance-container {
  display: flex;
  justify-content: space-between;
}

.incomeexpense {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(245, 239, 239);
  max-width: 400px;
  margin: 10px auto;
  border-radius: 20px;
}

.income {
  color: rgb(16, 192, 16);
}

.income span {
  font-size: 30px;
}

.expense {
  color: rgb(224, 32, 32);
}

.expense span {
  font-size: 30px;
}

.list {
  margin-top: 30px;
  padding: 0px 20px;
}

.list-button {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.history {
  flex-basis: 90%;
  text-align: center
}

.reset-button {
  background-color: rgb(88, 180, 241);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.listitem {
  display: flex;
  margin-top: 4px;
}

.box-1 {
  flex-basis: 75%;
  overflow-x: auto;
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.box-2 {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.box-child {
  flex-basis: 33%;
  overflow: auto;
}




.background-red {
  background-color: rgb(224, 32, 32);
}

.background-green {
  background-color: rgb(16, 192, 16);
}

.my-icons {
  cursor: pointer;
  padding: 5px;
}

.my-icons:hover {
  scale: 1.25;
}

.unclickable {
  pointer-events: none;
}

.myform {
  margin-top: 10px;
}

.for-input input {
  width: 100%;
  padding: 10px;
  margin: 3px 0px;
}

.inputforupdate {
  border: 3px solid black;
  background-color: rgb(88, 180, 241);
  font-weight: bolder;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}
.validation-error{
  font-size: 12px;
  color: red;
}
.green-button {
  background-color: rgb(16, 192, 16);
  width: 49%;
  margin: 10px 2px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bolder;
}

.red-button {
  background-color: rgb(224, 32, 32);
  width: 49%;
  margin: 10px 2px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bolder;
}
.red-button:hover,.green-button:hover{
  scale: 1.035;
}

/* MEDIA QUERY */

@media only screen and (max-width: 750px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
  body{
    font-size: 75%;
  }
}